@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>*@

<table id="tab1" class="table" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:50px">ID</th>
        <th style="width:150px">Title</th>
        <th style="width:150px">Genre</th>
        <th style="width:150px">Director's Name</th>
    </tr>
</table>

<script>
    //$(document).ready(function () {
    //    //table GET
    //    $("#tab1").css("display", "none");
    //    $.getJSON("http://localhost:53855/api/movies/", function (data) {
    //        $("#tab1").css("display", "block");
    //        $.each(data, function (key, val) {
    //            $("<tr><td>" + val.Id + "</td><td>" + val.Title + "</td><td>" + val.Genre + "</td><td>" + val.Directorname + "</td></tr>").appendTo($("#tab1"));
    //        })
    //    })
    //}


    function loadJSON() {
        $.get("http://localhost:53855/api/movies/", function (data, status) {
            if (status == "success") {
                var jsonObj = JSON.parse(data);
                return jsonObj;
            }
        })
        return "failed";
    }

    function createJSON(title, genre, directorName) {
        $.post("http://localhost:53855/api/movies/",
            {
                Title: title,
                Genre: genre,
                DirectorName: directorName
            },
            function (status) {
                return status;
            })
    }

    function updateJSON(id, title, genre, directorName) {
        $.ajax({
            url: "http://localhost:53855/api/movies/",
            type: 'PUT',
            success: function () {
                return "Success";
            },
            data:
            {
                Id: id,
                Title: title,
                Genre: genre,
                DirectorName: directorName
            },
            contentType: type
        });
    }    function loadJSON() {
        $.get("http://localhost:53855/api/movies/", function (data, status) {
            if (status == "success") {
                var jsonObj = JSON.parse(data);
                return jsonObj;
            }
        })
        return "failed";
    }

    function createJSON(title, genre, directorName) {
        $.post("http://localhost:53855/api/movies/",
            {
                Title: title,
                Genre: genre,
                DirectorName: directorName
            },
            function (status) {
                return status;
            })
    }

    function updateJSON(id, title, genre, directorName) {
        $.ajax({
            url: "http://localhost:53855/api/movies/",
            type: 'PUT',
            success: function () {
                return "Success";
            },
            data:
            {
                Id: id,
                Title: title,
                Genre: genre,
                DirectorName: directorName
            },
            contentType: type
        });
    }

    function deleteJSON(title, genre, directorName) {
        $.ajax({
            url: "http://localhost:53855/api/movies/",
            type: 'DELETE',
            success: function () {
                return "Success";
            },
            data:
            {
                Title: title,
                Genre: genre,
                DirectorName: directorName
            },
            contentType: type
        });
    }
</script>